version: '3.9'

services:
  media-service-go:
    build: .
    container_name: media-service-go
    ports:
      - '8080:8080'
    environment:
      - MEDIA_HTTP_ADDR=:8080
      - MEDIA_STORAGE_DIR=/var/media
      - MEDIA_PUBLIC_BASE_URL=http://localhost:8080
      - MEDIA_MAX_FILE_SIZE=10485760
    volumes:
      - ./media-storage:/var/media
    networks:
      - backboard-network

networks:
  backboard-network:
    external: true

